<%= form_for(announcement) do |f| %>
  <% if announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% announcement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="panel panel-primary devise-bs">
  <div class="panel-heading">
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <%= f.label :information %>
      <%= f.text_area :information, class: "form-control" %>
    </div>
    
    <%= f.hidden_field :user_id %>

    <div class="actions">
      <%= f.submit "Create Announcement", :class => "btn btn-primary"%>
    </div>
  </div>
<% end %>
