<p id="notice"><%= notice %></p>
<div class="container">
  
  <div class="row" style="margin-bottom: 5%;">
    <div class="col-md-3 col-md-offset-4">
      <h2>Announcements</h2>
    </div>
    <div class="col-md-2">
      <%= link_to 'Create an Announcement', new_announcement_path, class: "btn btn-info", style: "margin-top: 10%;" %>
    </div>
  </div>
  <% @announcements.each_slice(4) do |announcements| %>
    <div class="row">
      <% announcements.each do |announcement| %>
        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <b style="font-size: larger;">
                <%= announcement.title %>
              </b>
              <br/>
              <b>By: </b> <%= announcement.user.name %>
            </div>
            <div class="panel-body">
              Info: <%= announcement.information %>
              <br/><br/>
              <% if current_user == announcement.user %>
                <%= link_to 'Edit', edit_announcement_path(announcement), class: "btn btn-info" %>
                <%= link_to 'Delete', announcement, class: "btn btn-info", method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
