<p id="notice"><%= notice %></p>
<div class="container">
  
  <div class="row" style="margin-bottom: 5%;">
    <div class="col-md-2 col-md-offset-5">
      <h2>Events</h2>
    </div>
    <div class="col-md-2">
      <%= link_to 'Create an Event', new_event_path, class: "btn btn-info", style: "margin-top: 10%;" %>
    </div>
  </div>
  <% @events.each_slice(3) do |events| %>
    <div class="row">
      <% events.each do |event|%>
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading text-center">
              <b style="font-size: larger;">
                <%= link_to event.title, event_path(event), class: "btn btn-danger" %>
              </b>
            </div>
            <div class="panel-body">
              <b>Details:</b> <%= event.information %>
            </div>
            <ul class="list-group">
              <li class="list-group-item">
                <b>Date(s):</b> <div class="label label-info"><%= event.date %></div>
              </li>
              <li class="list-group-item">
                <b>Signed up:</b>
                <% if event.signups.any? %>
                  <ul>
                    <% event.signups.each do |signup| %>
                      <li>
                        <%= signup.user.name %>
                      </li>
                    <% end %>
                  </ul>
                <% else %>
                  <p>
                    No one has signed up for <b><%= event.title %></b> yet. Be the first!
                  </p>
                <% end %>

                <% css_class = "btn btn-primary" %>
                <% (css_class << " disabled") if event.signups.where(user: current_user).any? %>
                <%= button_to "Sign Up for #{event.title}", { action: "create_signup", params: { signup: { user_id: current_user.id, event_id: event.id } } }, { class: css_class, style: "margin-top: 1%;" } %>
              </li>

              <li class="list-group-item">
                <b>Created by:</b> <%= event.user.name %>
              </li>

              <% if current_user == event.user %>
                <li class="list-group-item">
                  <%= link_to 'Edit', edit_event_path(event), class: "btn btn-info" %>
                  <%= link_to 'Delete', event, method: :delete, class: "btn btn-info", data: { confirm: 'Are you sure?' } %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

<br>
