<p id="notice"><%= notice %></p>
<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">
          Troop 15
        </a>
      </div>
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %></li>
          <li><a>Resources</a></li>
          <li class="active"><%= link_to "Events", events_path %></li>
          <li><%= link_to "Announcements", announcements_path %></li>
          <li><a>Gallery</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-user" style="margin-right: 10px;"></span> <%= current_user.name %> <span class="glyphicon glyphicon-chevron-down" style="margin-left: 8px;"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a>Profile</a></li>
              <li><%= link_to('Account Settings', edit_user_registration_path) %></li>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">  
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <h3><%= @event.title %></h3>
          <b>By:</b> <%= @event.user.name %>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <b>Date:</b> <div class="label label-info"><%= @event.date %></div>
          </li>          
          <li class="list-group-item">
            <b>Details:</b>
            <br/>
            <%= @event.information %>
          </li>
          <li class="list-group-item">
            <b>Signed up:</b>
            <% if @event.signups.any? %>
              <ul>
                <% @event.signups.each do |signup| %>
                  <li><%= signup.user.name %></li>
                <% end %>
              </ul>
            <% else %>
              Noone has signed up for this event yet. Be the first!
            <% end %>
          </li>
          <% if current_user == @event.user %>
            <li class="list-group-item">
              <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-info" %> 
              <%= link_to 'Delete', @event, method: :delete, class: "btn btn-info", data: { confirm: 'Are you sure?' } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
