<% if user_signed_in? %>
  <div class="container">
    <nav class="navbar navbar-default" style="margin-top: 1%">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">
            Troop 15
          </a>
        </div>
        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a>Home</a></li>
            <li><a>Resources</a></li>
            <li><%= link_to "Events", events_path%></li>
            <li><%= link_to "Announcements", announcements_path %></li>
            <li><a>Gallery</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user" style="margin-right: 10px;"></span> <%= current_user.name %> <span class="glyphicon glyphicon-chevron-down" style="margin-left: 8px;"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a>Profile</a></li>
                <li><%= link_to('Account Settings', edit_user_registration_path) %></li>
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="text-center">Chat</h4>
          </div>
          <div class="panel-body">
            Currently Online: <span class="label label-primary">Nikolay Pomytkin</span>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              Test message <span class="badge">Nikolay Pomytkin</span>
            </li>
            <Li class="list-group-item">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter message">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Send</button>
                      </span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="text-center">Announcements</h4>
          </div>
          <ul class="list-group">
            <% @announcements.each do |announcement| %>
              <li class="list-group-item">
                <b>Title: </b> <%= announcement.title %>
                <br/>
                Created by: <% announcement.user %>
                <br/>
                <b>Information:</b>  <%= announcement.information %>
              </li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="margin-top: 8%; margin-bottom: 10%">
        <div class="panel panel-primary">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h2 class="text-center">Troop 15: Short Hills, NJ</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="panel-body">
                <div class="panel panel-primary devise-bs">
                  <div class="panel-heading">
                    <h4><%= t('.sign_in', :default => "Sign in") %></h4>
                  </div>
                  <div class="panel-body">
                  <%= form_for(:user, :url => session_path(:user), :html => {role: "form"}) do |f| %>
                    <div class="form-group">
                      <%= f.label :email %>
                      <%= f.email_field :email, autofocus: true, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <%= f.label :password %>
                      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                    </div>
                      <% if devise_mapping.rememberable? %>
                        <div class="checkbox">
                          <%= f.label :remember_me do %>
                          <%= f.check_box :remember_me %>
                          <%= t('.remember_me', :default => "Remember me") %>
                      <% end %>
                        </div>
                      <% end %>
                      <%= f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-primary" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
