<!DOCTYPE html>
<html>
  <head>
    <title>Troop15:
    <% if current_page?(announcements_path) or current_page?(new_announcement_path) %> Announcements<% end %>
    <% if current_page?(root_path) %> Home<% end %>
    <% if current_page?(events_path) or current_page?(new_event_path) %> Events<% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body style=" overflow-x:hidden;background-image: url(<%= image_url "forest2.jpg" %>); background-size: 100% 100%; background-repeat: no-repeat; padding-top:0%; padding-bottom:26%;font-family: 'Muli', sans-serif; border-radius: 0 !important; -moz-border-radius: 0 !important;">
    <div style="-webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important;">
      <%= render "layouts/navbar"%>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
